<% include include/header.ejs %>
<div class="index wrap">
  <input type="hidden" id="nextPageNum" value="2">
  <input type="hidden" id="url" value="/item">
  <ul id="item">
    <% articles.forEach(function(article){%>
    <li class="itemWrap boxWrap padding">
      <h2 class="title"><%= article.title %></h2>
      <ul class="infoWrap">
        <li>时间：<span><%= article.createAt.toLocaleString() %></span></li>
        <li>作者：<span><%= article.user.email %></span></li>
        <li>浏览数：<span><%= article.pv %></span></li>
        <li>评论数：<%= article.comments.length %></span></li>
        <li><a href="/articles/detail/<%= article._id%>" class="link">阅读原文</a></li>
      </ul>
    </li>
    <% }); %>
  </ul>
</div>
<ul>
  <% for(var i=1; i<= totalPage; i++){ %>
  <li>
      <a href="/articles/list/<%= i %>/<%= pageSize%>?keyword=<%= keyword %>"><%= i %></a>
  </li>
  <% } %>
</ul>
<% include include/footer.ejs %>